.Perroid {
    width: 200px;
    height: 200px;
}

.Gatoid {
    width: 200px;
    height: 200px;
}

.Maflaid {
    width: 200px;
    height: 200px;
}

.Garyid {
    width: 200px;
    height: 200px;
}

.Tachitoid {
    width: 200px;
    height: 200px;
}

.Firulaisid {
    width: 200px;
    height: 200px;
}

.Dakotaid {
    width: 200px;
    height: 200px;
}

.Kenayid {
    width: 200px;
    height: 200px;
}