body {
    background-color: #7fffd4;

}

.imagen {
    float: left;
    width: 200px;
    height: 200px;
    margin: 3px;
    padding: 3px;
    
    clear: both;
}

.texto {
    
    float: left;
    width: 200px;
    height: 200px;
    margin: 3px;
    padding: 3px;
   
    text-align: center;
    line-height: 200px;
    
    
}
.centrado{
    text-align: center;
}
.izquierda{

    text-align: left;

}
.justificadoss{ 
   
    text-align: justify;
}
.descripcion{

    float: left;
    width: 200px;
    height: 200px;
    margin: 3px;
    padding: 3px;
    
    text-align: center;
    line-height: 250%;


}