body {
    background-color: #7fffd4;
    font-family: sans-serif;

}

.imagen {
    float: left;
    width: 200px;
    height: 200px;
    margin: 3px;
    padding: 3px;
    
    clear: both;
}

.texto {
    
    float: left;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;

    
    
}
.centrado{
    text-align: center;
;

}
.izquierda{

    text-align: left;

}
.justificadoss{ 
   
    text-align: justify;
}
.descripcion{

    float: left;
    width: 200px;
    height: 200px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    line-height: 250%;


}
.boton{

    background-color: powderblue;
    transition: background-color .5s;
    text-align: center;
    float: left;
    margin: 80px;
    
}
.boton:hover{
color: #2f00ff;
}

button{
    background-color: powderblue;
}
button:hover{
 color: #2f00ff; 
}
