body {
    background-color: #333333;
    font-family: sans-serif;
    color: #ffffff;

    
}

nav {
 
    float: left;
    width: 20%;
    
}

section {
    float: right;
    width: 80%;
    text-align: justify;

}

.color1 {
    background-color: rgb(10, 181, 238);
    height: 25%;
    
}

.color2 {
    background-color: #ffff00;
    height: 25%;
}

.color3 {
    background-color: #ffa500;
    overflow: hidden;
    height: 25%;
}

.cmenu a {
    color: #d6d0d0;
    text-decoration: none;
}

.cmenu a:hover {
    color: #ffffff;
}



.imagen {
    float: left;
    width: 200px;
    height: 200px;
    margin: 3px;
    padding: 3px;
    clear: both;
}

.texto {
    float: left;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}



.izquierda {
    text-align: left;
}

.justificadoss {
    text-align: justify;
}

.descripcion {
    float: left;
    width: 200px;
    height: 200px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    line-height: 250%;
}

.boton {
    background-color: powderblue;
    transition: background-color .5s;
    text-align: center;
    float: left;
    margin: 80px;
}

.boton:hover {
    color: #2f00ff;
}

button {
    background-color: powderblue;
}

button:hover {
    color: #2f00ff;
}